// @import 'bootstrap/dist/css/bootstrap.min.css';

// Override
$white: #ffffff;

$theme-colors: (
  "light":      #f4ead8,
  "dark":       #0b0402,
  "primary":    #3a3e2b,
  "secondary":  #9d7f27,
  "info":       #d39125,
  "accent1":    #d78db8,
  "accent2":    #e166d2,
  "accent3":    #e8b9cd,
  "success":    #3cb815,
  "warning":    #ffc746,
  "danger":     #fa0856,
);


@import 'bootstrap/scss/bootstrap';

.min-100 {
  min-height: 100%;
}
.no-padding{
  padding: 0;
}
.no-margin{
  margin: 0;
}

html, body {
  margin: 0;
  height: 100%;
}

#app{
  height: 100%;
}